@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-primary: oklch(58.96% 0.05 109.22);
}

[data-theme="light"] {
  .btn-icon {
    background-color: transparent;
    border: none;
    transition: background-color;
  }
}
