---
import Layout from "@/layouts/Layout.astro";
import LoginForm from "@/components/solidjs/LoginForm";
---
<Layout>
  <main class="h-[100dvh] content-center relative">
    <LoginForm client:load />
  </main>
</Layout>